@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
  min-height: 100%;
  width: 100%;
}
body {
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to right, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.message {
  margin-bottom: 12px;
  padding: 12px;
  background-color: #fafafa;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.desktopdrawer {
  display: block; /* Default to visible for larger screens */
}

/* Hide the desktop drawer on screens smaller than 600px */
@media (max-width: 599px) {
  .desktopdrawer {
    display: none;
  }
}

.custom-link {
  color: #0056a3;
  text-decoration: none;
}
.custom-link:hover {
  color: #bb8b4b;
  text-decoration: underline;
}

.MuiTabs-scroller {
  scroll-behavior: smooth;
}

/* Custom tooltip with long arrow */
.react-tooltip.custom-long-arrow::after {
  content: '';
  position: absolute;
  top: -5px; /* Adjust based on your layout */
  left: 20px; /* Adjust based on your layout */
  margin-left: -5px;
  border-width: 10px; /* Increases the size of the arrow */
  border-style: solid;
  border-color: transparent transparent #000 transparent; /* Arrow color */
}
