.carouselContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slidesContainer {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slidesContainer::-webkit-scrollbar {
  display: none;
}

.slide {
  flex-shrink: 0;
  width: 304px;
  height: 169px;
  margin: 0 3px;
  scroll-snap-align: start;
}

.carouselNext {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  position: absolute;
  right: 0;
  background-color: #9BCF53;
  z-index: 10;
}

.carouselPrev {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  position: absolute;
  left: 0;
  background-color: #9BCF53;
  z-index: 10;
}

.thumbnailContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
